header{
	margin:5px;
	position:fixed;
}
.title{
	font-size: 30px;
	color:white;
	background-color:#0000cd;
}
.contents{
	font-size: 15px;
	color:white;
	background-color: #4682b4;
	margin:3px;
	padding: 2px;
}




.test{
}