header{
	width:100%;
}
.title{
	font-size: 50px;
	color:white;
	background-color:#0000cd;
	padding:10px
}
.conBox{
	width:100%;
	background-color: #4682b4;
	padding:5px;

}
.contents{
	font-size: 25px;
	color:white;
	padding:0px 20px;
	border-right: 1px white dashed;
}
.scBox{
	font-size: 20px;
	width:49%;
	height:180px;
	color: #4682b4;
	overflow:auto;
	display: inline-block;
	border:1px #F0F0F0 dashed;
}
.adBox{
	width:30%;
	height:500vh;
	background-color: gray;
	margin-left: 70%;
	position:absolute;
}
.day{
	font-size: 20px;
	position: absolute;
	color: black;
	right: 35%;
}
.article{
	width:68%;
	padding: 1%;
}
.headline{
	font-size: 5vw;
	border-bottom:3px solid #0000cd;
	border-left:20px solid #0000cd;
	padding-left: 10px;
	margin-bottom:10px; 
}
.imgBox{
	width:100%;
	margin:3% 3% 3% 0%;
}
.imgBoxMini{
	    width: 30%;
    margin: 3% 3% 3% 0%;
    left: 38%;
    position: absolute;
}
.sentenceBox{
	margin-top:5%; 
	font-size: 25px;
	padding: 1%;
	line-height: 60px;

}
.kyoutyou{
	font-size: 40px;
	color:red;
}
.caption{
    font-size: 18px;
    position: relative;
    left: 37vw;
    top: 30vw;
}
.utikesi{
	text-decoration:line-through;
}
.smallhead{
	font-size: 40px;
	font-weight: bold;
	border-bottom:3px solid #0000cd;
	margin-top: 5%;
}
.indent{
	width:36vw;
}



.bousou{
	display: none;
}
.kakikae{
	display: none;
}
.after{
	display: none;
}
.fixed{
	position: fixed;
	top:0.5vw;
}